{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<h1 class="text-center">Liste de tous les articles</h1>
	<div class="text-center my-5">
	{% for category in categories %}
		<a href="{{ path('index_by_category', { 'id' : category.id}) }}"><span class="badge bg-secondary mx-3"> {{ category.name }}</span></a>
	{% endfor %}
	</div>
	<div class="row">
		{% for post in posts %}
			<div class="col-4">
				<div class="card mb-3">
					<h3 class="card-header"><a href="/post/{{ post.id }}">{{ post.title }}</a></h3>
                    <img src="{{ post.image }}" alt="{{ post.title }}">
					<div class="card-body">
						<p class="card-text">{{ post.description | slice (0, 100)}} <a href="/post/{{ post.id }}">...</a></p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">{{ post.author }}</li>
					</ul>
					<div class="card-footer text-muted">
						{{ post.createdAt | date('d/m/Y') }}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
